body {
  margin: 1rem;
  padding: 0;
  color: rgb(34, 34, 34);
  font-family: 'Oxygen', sans-serif;
  ;
}
.page {
  padding: 1rem;
  background-color: rgb(183, 186, 189);
  display: grid;
  grid-template-columns: auto 1fr;
}
.list {
  width: fit-content;
  min-width: 100px;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
.content {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 10px;
}

table.list {
  width: 100%;
  td, th {
    border: 1px dashed black;
    padding: 0.2rem 1rem;
  }
}

table.info {
  text-align: left;

  td, th {
    border: 1px dashed black;
    padding: 0.2rem 1rem;
  }
}
