# This is a basic workflow that is manually triggered

name: Deploy

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Deploy to production
      uses: appleboy/ssh-action@master
      with:
        username: root
        host: ovz1.j1121565.m2oon.vps.myjino.ru
        password: ${{ secrets.SSH_PASSWORD }}
        port: 49346
        script: 'cd /var/www/req-resp-Utility && chmod +x deploy.sh && ./deploy.sh'
